body,
#c{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#l,
#r {
    width: 100px;
    height: 100px;
    border: 20px solid white;
    border-radius: 50%;
}

#r {
    border-left-color: transparent;
    transform: translateX(25px);
}

#l {
    border-right-color: transparent;
    transform: translateX(-35px);

}
p {
    color: white;
    font-size: 2rem;
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin: 0;
}